$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../bower_components/font-awesome/fonts';
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
// endbower

@import 'modules/variables/importer';
@import 'modules/common';
@import 'modules/tables';
@import 'modules/filters';
@import 'modules/forms';
@import 'directives/navbar';
@import 'directives/sidebar';
@import 'directives/backdrop';
@import 'partials/index';
@import 'partials/home';
@import 'partials/students/show';
@import 'partials/students/edit';
@import 'partials/courses/show';
@import 'partials/courses/students_index';
@import 'partials/courses/correlatives_new';
@import 'partials/students/courses_index';
