<div ng-controller='AdminsEditCtrl as controller' class='admins-edit-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nAdminsPanelSection'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <span> {{controller.admin.firstName}} {{controller.admin.lastName}}</span>
      <small> - </small>
      <small translate='i18nAdminEdit'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- Content -->
  <div class='required-fields'>
    {{ 'i18nRequiredFields' | translate }} ({{ 'i18nRequiredIcon' | translate }})
  </div>
  <form name='form' novalidate class='data-container'>
    <!-- User Data -->
    <div class='data-container'>
      <!-- dni -->
      <div class='data-item'>
        <label for='dni'>
          {{ 'i18nDni' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <div class='align-data-to-input-field'>
          <p id='dni'>{{ controller.editedAdmin.dni }}</p>
        </div>
      </div>
      <!-- /dni -->

      <!-- firstName and lastName -->
      <div class='data-item'>
        <label for='firstName'>
          {{ 'i18nFirstName' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='firstName' id='firstName' class='form-input-field' ng-model='controller.editedAdmin.firstName' required ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.firstName.$error' ng-show='form.firstName.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='lastName'>
          {{ 'i18nLastName' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='lastName' id='lastName' class='form-input-field' ng-model='controller.editedAdmin.lastName' required ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.lastName.$error' ng-show='form.lastName.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <!-- /firstName and lastName -->

      <!-- birthday and genre -->
      <div class='data-item'>
        <label for='birthday'>
          {{ 'i18nBirthday' | translate }}
        </label>
        <input type='date' name='birthday' id='birthday' class='form-input-field' ng-model='controller.editedAdmin.birthday' placeholder="{{ 'i18nBirthdayPlaceholder' | translate}}" max="{{ controller.maxDate | date:'yyyy-MM-dd'}}" />
        <div ng-messages='form.birthday.$error' ng-show='form.birthday.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='date'>
            <p translate='i18nInvalidFormatDate'></p>
          </div>
          <div ng-message='max'>
            <p translate='i18nInvalidBirthday'></p>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label>{{ 'i18nGenre' | translate }}</label>
        <div class='align-to-input-field'>
          <label class='radio-inline'>
            <input type='radio' name='genre' ng-model='controller.editedAdmin.genre' value='M'/> <span translate='i18nMale'/>
          </label>
          <label class='radio-inline'>
            <input type='radio' name='genre' ng-model='controller.editedAdmin.genre' value='F'/> <span translate='i18nFemale'/>
          </label>
        </div>
      </div>
      <!-- /birthday and genre -->

      <!-- telephone and email -->
      <div class='data-item'>
        <label for='telephone'>
          {{ 'i18nTelephone' | translate }}
        </label>
        <input type='text' name='telephone' id='telephone' class='form-input-field' ng-model='controller.editedAdmin.address.telephone' ng-pattern="'^[0-9]{1,11}$'"/>
        <div ng-messages='form.telephone.$error' ng-show='form.telephone.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='pattern'>
            <p translate='i18nFormErrorTelephone'></p>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='email'>
          {{ 'i18nEmail' | translate }}
        </label>
        <div class='align-data-to-input-field'>
          <p id='email'>{{ controller.editedAdmin.email }}</p>
        </div>
      </div>
      <!-- /telephone and email -->
    </div>
    <!-- \User Data -->

    <!-- User Address Data -->
    <div class='data-container user-address-data'>
      <!-- country and city -->
      <div class='data-item'>
        <label for='country'>
          {{ 'i18nCountry' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='country' id='country' class='form-input-field' ng-model='controller.editedAdmin.address.country' required ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.country.$error' ng-show='form.country.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='city'>
          {{ 'i18nCity' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='city' id='city' class='form-input-field' ng-model='controller.editedAdmin.address.city' required ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.city.$error' ng-show='form.city.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <!-- /country and city -->

      <!-- neighborhood and street -->
      <div class='data-item'>
        <label for='neighborhood'>
          {{ 'i18nNeighborhood' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='neighborhood' id='neighborhood' class='form-input-field' ng-model='controller.editedAdmin.address.neighborhood' required ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.neighborhood.$error' ng-show='form.neighborhood.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='street'>
          {{ 'i18nStreet' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='street' id='street' class='form-input-field' ng-model='controller.editedAdmin.address.street' required  ng-minlength='2' ng-maxlength='50'/>
        <div ng-messages='form.street.$error' ng-show='form.street.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 2 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 50 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <!-- /neighborhood and street -->

      <!-- number and floor -->
      <div class='data-item'>
        <label for='number'>
          {{ 'i18nNumber' | translate }} ({{ 'i18nRequiredIcon' | translate }})
        </label>
        <input type='text' name='number' id='number' class='form-input-field' ng-model='controller.editedAdmin.address.number' required ng-pattern="'^[1-9][0-9]{0,9}$'"/>
        <div ng-messages='form.number.$error' ng-show='form.number.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message='pattern'>
            <p translate='i18nNumericField'></p>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='floor'>{{ 'i18nFloor' | translate }}</label>
        <input type='text' name='floor' id='floor' class='form-input-field' ng-model='controller.editedAdmin.address.floor' ng-pattern="'^[1-9][0-9]{0,10}$'"/>
        <div ng-messages='form.floor.$error' ng-show='form.floor.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='pattern'>
            <p translate='i18nNumericField'></p>
          </div>
        </div>
      </div>
      <!-- /number and floor -->

      <!-- door and zipcode -->
      <div class='data-item'>
        <label for='door'>{{ 'i18nDoor' | translate }}</label>
        <input type='text' id='door' class='form-input-field' ng-model='controller.editedAdmin.address.door'/>
      </div>
      <div class='data-item'>
        <label for='zipCode'>{{ 'i18nZipCode' | translate }}</label>
        <input type='text' name='zipCode' id='zipCode' class='form-input-field' ng-model='controller.editedAdmin.address.zipCode' ng-pattern="'^[1-9][0-9]{0,15}$'"/>
        <div ng-messages='form.zipCode.$error' ng-show='form.zipCode.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='pattern'>
            <p translate='i18nNumericField'></p>
          </div>
        </div>
      </div>
      <!-- /door and zipcode -->
    </div>
    <!-- \User Address Data -->
    <div class='buttons-container'>
      <input type='submit' class='btn btn-action' ng-click='form.$valid && controller.update(controller.editedAdmin)' value="{{ 'i18nButtonSaveChanges' | translate }}" />
      <input type='button' class='btn btn-default' ng-click='controller.cancel()' value="{{ 'i18nButtonCancel' | translate }}" />
    </div>
  </form>
</div>
