<div ng-controller='AdminsIndexCtrl as controller' class='admins-index-container'>
  <!-- Page Heading -->
  <h1 translate='i18nAdminsPanelSection' class='page-header'></h1>
  <!-- /Page Heading -->

  <!-- Filter -->
  <div class='filter-container'>
    <div class='filter-fields'>
      <div class='own-input-group'>
        <span class='search-label' translate=i18nDni></span>
        <input type='text' class='form-input-field' ng-model='controller.filter.DNI' placeholder="{{ 'i18nDni' | translate }}..."/>
      </div>
      <div class='own-input-group'>
        <span class='search-label' translate='i18nFirstName'></span>
        <input type='text' class='form-input-field' ng-model='controller.filter.firstName' placeholder="{{ 'i18nFirstName' | translate }}..."/>
      </div>
      <div class='own-input-group'>
        <span class='search-label' translate='i18nLastName'></span>
        <input type='text' class='form-input-field' ng-model='controller.filter.lastName' placeholder="{{ 'i18nLastName' | translate }}..."/>
      </div>
    </div>
    <div class='filter-buttons'>
      <button class='btn btn-default' type='submit'>
        <span class='fa fa-search' aria-hidden='true'></span>
        <span translate='i18nSearchButton' translate ></span>
      </button>
      <button class='btn btn-default' ng-click='controller.resetSearch()' type='submit'>
        <span class='fa fa-repeat' aria-hidden='true'></span>
        <span translate='i18nResetButton'></span>
      </button>
    </div>
  </div>
  <!-- /Filter -->

  <!-- Admins -->
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th translate='i18nDni'></th>
          <th translate='i18nFirstName'></th>
          <th translate='i18nLastName'></th>
          <th translate='i18nActions'></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide='controller.admins.length > 0' class='bg-warning'>
          <td colspan='4' class='text-danger text-center' translate='i18nNoStudentsFound'></td>
        </tr>
        <tr ng-repeat='admin in controller.admins'>
          <td>{{ admin.dni }}</td>
          <td>{{ admin.firstName }}</td>
          <td>{{ admin.lastName }}</td>
          <td class='actions-container'>
            <a ng-href='{{ admin.profileUrl }}' class='btn btn-default' role='button'>
              <span class='fa fa-user' aria-hidden='true'></span>
              <span translate='i18nAdminShow'></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Admins -->
</div>
