<div ng-controller='StudentsFinalInscriptionsCtrl as controller' class='students-final-inscriptions-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nStudents'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <span> {{controller.student.firstName}} {{controller.student.lastName}}</span>
      <small> - </small>
      <small translate='i18nStudentFinals'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- Final Exams -->
  <h3 translate='i18nFinalExams' class='page-sub-header'></h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th translate='i18nCourse'></th>
          <th translate='i18nFinalExamDate'></th>
          <th translate='i18nVacancy'></th>
          <th translate='i18nState'></th>
          <th translate='i18nActions'></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide='controller.student.finalInscriptionsAvailable.length > 0' class='bg-warning'>
          <td colspan='5' class='text-danger text-center' translate='i18nNoFinalExamsFound'></td>
        </tr>
        <tr ng-repeat='inscriptionInfo in controller.student.finalInscriptionsAvailable'>
          <td>{{ inscriptionInfo.inscription.name }}</td>
          <td>{{ inscriptionInfo.inscription.finalExamDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{ inscriptionInfo.inscription.vacancy }}/{{ inscriptionInfo.inscription.maxVacancy }}</td>
          <td ng-show="inscriptionInfo.inscription.state == 'OPEN'" translate='i18nInscriptionOpen'></td>
          <td ng-show="inscriptionInfo.inscription.state == 'CLOSED'" translate='i18nInscriptionClosed'></td>
          <td class='actions-container'>
            <a ng-href='{{ controller.getFinalInscriptionPath(inscriptionInfo.inscription.courseId, inscriptionInfo.inscription.id) }}' class='btn btn-default' role='button'>
              <span class='fa fa-info-circle' aria-hidden='true'></span>
              <span translate='i18nInformation'></span>
            </a>
            <a class='btn btn-action' role='button' ng-controller='FinalEnrollController as modalController' ng-show='controller.isAvailable(inscriptionInfo)'
            ng-click="modalController.open('md', 'i18nFinalEnroll', controller.student.docket, controller.student.fullName, inscriptionInfo.inscription.name, inscriptionInfo.inscription.finalExamDate, inscriptionInfo.inscription.id)">
              <span class='fa fa-list-alt' aria-hidden='true'></span>
              <span translate='i18nFinalEnroll'></span>
            </a>
						<span ng-show='!controller.isAvailable(inscriptionInfo)' translate='{{ controller.getErrorMessage(inscriptionInfo) }}' class='error-message'>

						</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Final Exams -->

  <!-- Final Exams Taken -->
  <h3 translate='i18nFinalExamsTaken' class='page-sub-header'></h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th translate='i18nCourse'></th>
          <th translate='i18nFinalExamDate'></th>
          <th translate='i18nVacancy'></th>
          <th translate='i18nState'></th>
          <th translate='i18nActions'></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide='controller.student.finalInscriptionsTaken.length > 0' class='bg-warning'>
          <td colspan='5' class='text-danger text-center' translate='i18nNoFinalExamsFound'></td>
        </tr>
        <tr ng-repeat='inscription in controller.student.finalInscriptionsTaken'>
          <td>{{inscription.name}}</td>
          <td>{{inscription.finalExamDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{ inscription.vacancy }}/{{ inscription.maxVacancy }}</td>
          <td ng-show="inscription.state == 'OPEN'" translate='i18nInscriptionOpen'></td>
          <td ng-show="inscription.state == 'CLOSED'" translate='i18nInscriptionClosed'></td>
          <td class='actions-container'>
            <a ng-href='{{ controller.getFinalInscriptionPath(inscription.courseId, inscription.id) }}' class='btn btn-default' role='button'>
              <span class='fa fa-info-circle' aria-hidden='true'></span>
              <span translate='i18nInformation'></span>
            </a>
            <a class='btn btn-danger' role='button' ng-controller='FinalUnenrollController as modalController'
            ng-click="modalController.open('md', 'i18nUnenroll', controller.student.docket, controller.student.fullName, inscription.name, inscription.finalExamDate, inscription.id)">
              <span class='fa fa-list-alt' aria-hidden='true'></span>
              <span translate='i18nUnenroll'></span>
            </a>
						</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Final Exams Taken -->
</div>
