<div ng-controller='StudentsNewCtrl as controller' class='students-new-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nStudents'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <small translate='i18nAddStudent'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- Errors -->
  <div class='flash-messages' ng-show='controller.errors'>
    <xalert ng-repeat='error in controller.errors' msg='{{ error }}' type='danger'>
    </xalert>
  </div>
  <!-- Errors -->

  <!-- Content -->
  <div class='required-fields'>
    <span translate='i18nRequiredFields'/>
    (<span class='text-danger' translate='i18nRequiredIcon'/>)
  </div>
  <form name='form' novalidate class='data-container'>
    <!-- User Data -->
    <div class='data-container'>
      <!-- dni -->
        <div class='data-item'>
          <label for='dni'>
            <span translate='i18nDni'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='dni' id='dni' class='form-input-field' ng-model='controller.student.dni' required ng-pattern="'^[1-9][0-9]{7}$'"/>
          <div ng-messages='form.dni.$error' ng-show='form.dni.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message='pattern'>
              <p translate='i18nFormErrorDni'></p>
            </div>
          </div>
        </div>

      <!-- firstName and lastName -->
        <div class='data-item'>
          <label for='firstName'>
            <span translate='i18nFirstName'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='firstName' id='firstName' class='form-input-field' ng-model='controller.student.firstName' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.firstName.$error' ng-show='form.firstName.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
        <div class='data-item'>
          <label for='lastName'>
            <span translate='i18nLastName'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='lastName' id='lastName' class='form-input-field' ng-model='controller.student.lastName' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.lastName.$error' ng-show='form.lastName.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
      <!-- /firstName and lastName -->

      <!-- birthday and genre -->
        <div class='data-item'>
          <label for='birthday'>
            <span translate='i18nBirthday'/>
          </label>
          <input type='date' name='birthday' id='birthday' class='form-input-field' ng-model='controller.student.birthday' placeholder="{{ 'i18nBirthdayPlaceholder' | translate}}" max="{{ controller.maxDate | date:'yyyy-MM-dd'}}" />
          <div ng-messages='form.birthday.$error' ng-show='form.birthday.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='date'>
              <p translate='i18nInvalidFormatDate'></p>
            </div>
            <div ng-message='max'>
              <p translate='i18nInvalidBirthday'></p>
            </div>
          </div>
        </div>
        <div class='data-item'>
          <label translate='i18nGenre'/>
          <div class='align-to-input-field'>
            <label class='radio-inline'>
              <input type='radio' name='genre' ng-model='controller.student.genre' value='M'/> <span translate='i18nMale'/>
            </label>
            <label class='radio-inline'>
              <input type='radio' name='genre' ng-model='controller.student.genre' value='F'/> <span translate='i18nFemale'/>
            </label>
          </div>
        </div>
      <!-- /birthday and genre -->

      <!-- telephone  -->
        <div class='data-item'>
          <label for='telephone'>
            <span translate='i18nTelephone'/>
          </label>
          <input type='text' name='telephone' id='telephone' class='form-input-field' ng-model='controller.student.address.telephone' ng-pattern="'^[0-9]{1,11}$'"/>
          <div ng-messages='form.telephone.$error' ng-show='form.telephone.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='pattern'>
              <p translate='i18nFormErrorTelephone'></p>
            </div>
          </div>
        </div>
      <!-- /telephone -->
    </div>
    <!-- \User Data -->

    <!-- User Address Data -->
    <div class='data-container user-address-data'>
      <!-- country and city -->
        <div class='data-item'>
          <label for='country'>
            <span translate='i18nCountry'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='country' id='country' class='form-input-field' ng-model='controller.student.address.country' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.country.$error' ng-show='form.country.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
        <div class='data-item'>
          <label for='city'>
            <span translate='i18nCity'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='city' id='city' class='form-input-field' ng-model='controller.student.address.city' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.city.$error' ng-show='form.city.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
      <!-- /country and city -->

      <!-- neighborhood and street -->
        <div class='data-item'>
          <label for='neighborhood'>
            <span translate='i18nNeighborhood'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='neighborhood' id='neighborhood' class='form-input-field' ng-model='controller.student.address.neighborhood' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.neighborhood.$error' ng-show='form.neighborhood.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
        <div class='data-item'>
          <label for='street'>
            <span translate='i18nStreet'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='street' id='street' class='form-input-field' ng-model='controller.student.address.street' required  ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.street.$error' ng-show='form.street.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
      <!-- /neighborhood and street -->

      <!-- number and floor -->
        <div class='data-item'>
          <label for='number'>
            <span translate='i18nNumber'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='number' id='number' class='form-input-field' ng-model='controller.student.address.number' required ng-pattern="'^[1-9][0-9]{0,9}$'"/>
          <div ng-messages='form.number.$error' ng-show='form.number.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message='pattern'>
              <p translate='i18nNumericField'></p>
            </div>
          </div>
        </div>
        <div class='data-item'>
          <label for='floor' translate='i18nFloor'/>
          <input type='text' name='floor' id='floor' class='form-input-field' ng-model='controller.student.address.floor' ng-pattern="'^[1-9][0-9]{0,10}$'"/>
          <div ng-messages='form.floor.$error' ng-show='form.floor.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='pattern'>
              <p translate='i18nNumericField'></p>
            </div>
          </div>
        </div>
      <!-- /number and floor -->

      <!-- door and zipcode -->
        <div class='data-item'>
          <label for='door' translate='i18nDoor'/>
          <input type='text' id='door' class='form-input-field' ng-model='controller.student.address.door'/>
        </div>
        <div class='data-item'>
          <label for='zipCode' translate='i18nZipCode'/>
          <input type='text' name='zipCode' id='zipCode' class='form-input-field' ng-model='controller.student.address.zipCode' ng-pattern="'^[1-9][0-9]{0,15}$'"/>
          <div ng-messages='form.zipCode.$error' ng-show='form.zipCode.$touched || form.$submitted' class='form-errors' role='alert'>
            <div ng-message='pattern'>
              <p translate='i18nNumericField'></p>
            </div>
          </div>
        </div>
      <!-- /door and zipcode -->
    </div>
    <!-- \User Address Data -->
    <div class='buttons-container'>
      <input type='submit' class='btn btn-action' ng-click='form.$valid && controller.new(controller.student)' value="{{ 'i18nStudentsNewButton' | translate }}" />
      <input type='button' class='btn btn-default' ng-click='controller.cancel()' value="{{ 'i18nButtonCancel' | translate }}" />
    </div>
  </form>
</div>
