<div class='students-show-container' ng-controller='StudentsShowCtrl as controller'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nStudents'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <span> {{controller.student.firstName}} {{controller.student.lastName}}</span>
      <small> - </small>
      <small translate='i18nProfile'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- User Data -->
  <div class='data-container'>
    <div class='data-item'>
      <p class='bold static-label' translate='i18nDni'></p>
      <p class='break-words'>{{controller.student.dni}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Docket'></p>
      <p class='break-words'>{{controller.student.docket}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18nFirstName'></p>
      <p class='break-words'>{{controller.student.firstName}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18nLastName'></p>
      <p class='break-words'>{{controller.student.lastName}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Birthday'></p>
      <p class='break-words'>{{controller.student.birthday}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Genre'></p>
      <p class='break-words'>{{controller.student.genre}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Telephone'></p>
      <p class='break-words'>{{controller.student.address.telephone}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Email'></p>
      <p class='break-words'>{{controller.student.email}}</p>
    </div>
  </div>
  <!-- /User Data -->

  <!-- Address Data -->
  <div class='data-container user-address-data'>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Country'></p>
      <p class='break-words'>{{controller.student.address.country}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18City'></p>
      <p class='break-words'>{{controller.student.address.city}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Neighborhood'></p>
      <p class='break-words'>{{controller.student.address.neighborhood}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Street'></p>
      <p class='break-words'>{{controller.student.address.street}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Number'></p>
      <p class='break-words'>{{controller.student.address.number}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Floor'></p>
      <p class='break-words'>{{controller.student.address.floor}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18Door'></p>
      <p class='break-words'>{{controller.student.address.door}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18ZipCode'></p>
      <p class='break-words'>{{controller.student.address.zipCode}}</p>
    </div>
  </div>
  <!-- /Address Data -->
</div>
