@import 'modules/variables/importer';

.container {
  margin-top: $navbarHeight;
  margin-left: $sidebarWidth;
  margin-right: 0;
  margin-bottom: 0;
  padding: $containerPadding;
  padding-bottom: 0;
  width: calc(100% - #{$sidebarWidth});
  transition: all linear $sidebarTransitionTime;

  &.sidebar-hidden {
    margin-left: 0;
    width: 100%;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (max-width: $bootstrapMobileMaxWidth) {
    margin-left: 0;
    width: 100%;
  }

  .content-container {
    min-height: calc(100vh - 2 * #{$navbarHeight} - #{$containerPadding});
    .ng-view-container {
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $mine-shaft;
    color: $silver-chalice;
    height: $navbarHeight;
    margin: 0 -30px;
    padding: 15px;
    .no-margin {
      margin: 0;
    }
  }
}
