.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  .filter-fields {
    width: 100%;

    .own-input-group {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .search-label {
        flex: 2;
        min-width: 80px;
        max-width: 120px;
        width: 100%;
        font-weight: 700;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid $silver;
      }

      .form-input-field {
        flex: 8;
        display: block;
        min-width: 100px;
        max-width: 500px;
        width: 100%;
        height: 35px;
        padding: 6px 12px;
        background-color: $white;
        background-image: none;
        border: 1px solid $silver;
        border-radius: 0;
        transition: border-color ease-in-out 0.15s;

        &:focus {
          border-color: $mine-shaft;
          outline: none;
        }
      }
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;

    .btn {
      min-width: 150px;
      margin: 0 15px;
    }
  }
}
