@import 'modules/variables/importer';

.form-errors {
  color: $persian-red;
  margin-top: -10px;
}

input.ng-invalid.ng-touched {
  border-color: $persian-red;
}

.form-input-field {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  margin: 0 0 15px;
  background-color: $white;
  background-image: none;
  border: 1px solid $silver;
  border-radius: 0;
  transition: border-color ease-in-out 0.15s;


  &:focus {
    border-color: $mine-shaft;
    outline: none;
  }
}

.required-fields {
  padding: 0 5px 15px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  .btn {
    min-width: 150px;
    width: 40%;
    max-width: 300px;
    height: 35px;
    margin: 5px;
  }
}
