@import 'modules/variables/importer';

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $alabaster;
  height: 100%;

  // content
  .content {
    padding-top: 50px;
  }
  // \content
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline {
  display: inline;
}

hr {
  padding: 0;
  margin: 0px 10px;
  border-top: 1px solid $silver-chalice;
}

.full-width {
  width: 100%;
}

.break-words {
  display: inline-block;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  width: 100%; /* width is mandatory to make break-word work on Mozzila */
}

.bold {
  font-weight: 700;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// Customize scrollbar for Chrome and Opera browsers
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mine-shaft;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $silver-chalice;
}

.row {
  margin: 0;
}

.page-header {
  margin: 0 0 10px;
  padding-bottom: 15px;
}

.btn {
  border-radius: 0;
}
