@import 'modules/variables/importer';

.user-change-password-container {

  .data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .data-item {
      width: 250px;
      padding: 5px;
    }
  }
  .buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
