/* Grey Style

#wrapper {
    margin-top: 1px;
    background-color: #222;


}
#page-wrapper {
    margin-top: 1px;
    background-color: #222;
    border-left: 1px solid black;
    //border-style: solid;
    //border-width: 1px;
    //border-color: transparent transparent transparent black;
}

dl{
    color:#9d9d9d;
}
.page-header{
    color: #9d9d9d;
    border-bottom: 1px solid black;
}
*/

/*  White Style */

#page-wrapper {

    margin-top: 1px;
    /* background-color: #222; */
    border-left: 1px solid black;
    min-height: 100%;
}

.right-effect{
    text-align: right;
}

.col_vertical_margin {
    margin-bottom: 5%;
    margin-top: 5%;
}