@import 'modules/variables/importer';

.students-courses-index-container {
  .table {
    .actions-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start;

      .btn {
        flex: 1;
        min-width: 175px;
        max-width: 200px;
        margin: 10px;
        margin-left: 0;
      }
    }
  }
}
