@import 'modules/variables/importer';

.students-inscriptions-container {
  .table {
    .actions-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .btn {
        flex: 1;
        min-width: 150px;
        max-width: 200px;
        margin: 10px;
        margin-left: 0;
      }

			.error-message {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
        min-width: 150px;
        max-width: 200px;
        margin: 10px;
        margin-left: 0;
				color: $persian-red;

			}
    }
  }
}
