@import 'modules/variables/importer';

.students-show-container {
  .data-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .data-item {
      width: 230px;
      padding: 5px;

      .break-words {
        display: inline-block;
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        width: 220px; /* width is mandatory to make break-word work on Mozzila */
      }
    }
  }

  .user-address-data {
    padding-top: 15px;
    border-top: 1px solid $gallery;
  }
}
