<div ng-controller="UserChangePasswordCtrl as controller" class='user-change-password-container'>
  <!-- Page Heading -->
  <h1 translate='i18nChangePassword' class='page-header'></h1>
  <!-- /Page Heading -->

  <!-- Errors -->
  <div class='flash-messages' ng-show='controller.errors'>
    <xalert ng-repeat='error in controller.errors' msg='{{ error }}' type='danger'>
    </xalert>
  </div>
  <!-- Errors -->

  <!-- Change Password Form -->
  <form name="form" novalidate class='simple-form' ng-show='controller.user'>
    <div class='data-container'>
      <!-- Current Password -->
      <div class='data-item'>
        <label for='currentPassword'>
          <span translate='i18nCurrentPassword'/>
        </label>
        <input type='password' name='currentPassword' id='currentPassword' class='form-input-field' ng-model='controller.passwordForm.currentPassword' required/>
        <div ng-messages='form.currentPassword.$error' ng-show='form.currentPassword.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
        </div>
      </div>
      <!-- /Current Password -->
      <!-- New Password -->
      <div class='data-item'>
        <label for='newPassword'>
          <span translate='i18nNewPassword'/>
        </label>
        <input type='password' name='newPassword' id='newPassword' class='form-input-field' ng-model='controller.passwordForm.newPassword' required ng-minlength='8' ng-maxlength='32'/>
        <div ng-messages='form.newPassword.$error' ng-show='form.newPassword.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 8 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 32 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
      </div>
      <!-- New Password -->
      <!-- Repeat Password -->
      <div class='data-item'>
        <label for='repeatPassword'>
          <span translate='i18nRepeatPassword'/>
        </label>
        <input type='password' name='repeatPassword' id='repeatPassword' class='form-input-field' ng-model='controller.passwordForm.repeatPassword' required ng-minlength='8' ng-maxlength='32'/>
        <div ng-messages='form.repeatPassword.$error' ng-show='form.repeatPassword.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            <span translate='i18nLengthPrefix'></span>
            <span> 8 </span>
            <span translate='i18nLengthAnd'></span>
            <span> 32 </span>
            <span translate='i18nLengthSuffix'></span>
          </div>
        </div>
        <div ng-show='form.newPassword.$touched && form.repeatPassword.$touched && controller.passwordForm.newPassword != controller.passwordForm.repeatPassword' class='form-errors'>
          <p><p translate='i18nPasswordNotMatch'/></p>
        </div>
      </div>
      <!-- /Repeat Password -->
    </div>
    <div class='buttons-container'>
      <input type='submit' class='btn btn-action' ng-click='form.$valid && controller.changePassword(controller.passwordForm)' value="{{ 'i18nChangePassword' | translate }}" />
      <input type='button' class='btn btn-default' ng-click='controller.cancel()' value="{{ 'i18nButtonCancel' | translate }}" />
    </div>
  </form>
  <!-- /Login Form -->
</div>
