<div ng-controller='CoursesFinalInscriptionNewCtrl as controller' class='courses-final-inscriptions-new-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nCoursesPanelSection'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <span> {{controller.course.name}} </span>
      <small> - </small>
      <small translate='i18nAddFinalInscription'></small>
    </h2>
  </div>
  <!-- /Page Heading -->
  <form name='form' novalidate class='data-container'>
    <div class='data-container'>
      <div class='data-item'>
        <label for='vacancy'>
          <span translate='i18nVacancy'/>
          (<span class='text-danger' translate='i18nRequiredIcon'/>)
        </label>
        <input type='text' name='vacancy' id='vacancy' class='form-input-field' ng-model='controller.finalInscription.vacancy' required ng-pattern="'^[1-9][0-9]{0,15}$'"/>
        <div ng-messages='form.vacancy.$error' ng-show='form.vacancy.$touched || form.$submitted' class='form-errors' role='alert'>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message='pattern'>
            <p translate='i18nNumericField'></p>
          </div>
        </div>
      </div>
      <div class='data-item'>
        <label for='finalExamDate'>
          <span translate='i18nFinalExamDate'/>
          (<span class='text-danger' translate='i18nRequiredIcon'/>)
        </label>
        <input type='datetime-local' name='finalExamDate' id='finalExamDate' class='form-input-field' ng-model='controller.finalInscription.finalExamDate' required min='{{controller.currentDate}}' placeholder="{{ 'i18nfinalExamDatePlaceholder' | translate}}"/>
        <div ng-messages='form.finalExamDate.$error' ng-show='form.finalExamDate.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
          <div ng-message='required'>
            <p translate='i18nRequiredField'></p>
          </div>
          <div ng-message='min'>
            <p translate='i18nInvalidDate'></p>
          </div>
        </div>
      </div>
    </div>
    <div class='buttons-container'>
      <input type='submit' class='btn btn-action' ng-click='form.$valid && controller.new(controller.finalInscription)' value="{{ 'i18nFinalInscriptionNewButton' | translate }}" />
      <input type='button' class='btn btn-default' ng-click='controller.cancel()' value="{{ 'i18nButtonCancel' | translate }}" />
    </div>
  </form>
</div>
