<div ng-controller='CoursesFinalInscriptionShowCtrl as controller' class='courses-final-inscriptions-show-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nCoursesPanelSection'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <span> {{controller.course.name}} </span>
      <small> - </small>
      <small translate='i18nFinalExam'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- Final Inscription Data -->
  <div class='data-container'>
    <div class='data-item'>
      <p class='bold static-label' translate='i18nFinalExamDate'></p>
      <p class='break-words'>{{controller.course.inscription.finalExamDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
    </div>
    <div class='data-item'>
      <p class='bold static-label' translate='i18nVacancy'></p>
      <p class='break-words'>{{ controller.course.inscription.vacancy }}/{{ controller.course.inscription.maxVacancy }}</p>
    </div>
    <div class='data-item' ng-show="controller.course.inscription.state == 'OPEN'">
      <p class='bold static-label' translate='i18nState'></p>
      <p class='break-words' translate='i18nInscriptionOpen'/>
    </div>
    <div class='data-item' ng-show="controller.course.inscription.state == 'CLOSED'">
      <p class='bold static-label' translate='i18nState'></p>
      <p class='break-words' translate='i18nInscriptionClosed'/>
    </div>
  </div>
  <!-- /Final Inscription Data -->

  <!-- Students -->
  <h3 translate='i18nFinalStudents' class='page-sub-header'></h3>
  <form name='form' novalidate>
    <div class='qualify-all-container'>
      <a class='btn btn-action qualify-all' ng-click='controller.qualifyAll = !controller.qualifyAll'
         ng-hide='controller.qualifyAll || controller.course.inscription.students.length <= 0' role='button'>
        <span class='fa fa-graduation-cap' aria-hidden='true'></span>
        <span translate='i18nQualifyAll'></span>
      </a>
      <a class='btn btn-action qualify-all' ng-click='form.$valid && controller.qualify()'
         ng-show='controller.qualifyAll' role='button'>
        <span class='fa fa-graduation-cap' aria-hidden='true'></span>
        <span translate='i18nQualify'></span>
      </a>
      <a class='btn btn-default qualify-all' ng-click='controller.qualifyAll = !controller.qualifyAll'
         ng-show='controller.qualifyAll' role='button'>
        <span translate='i18nCancel'></span>
      </a>
    </div>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th translate='i18nDocket'></th>
            <th translate='i18nFirstName'></th>
            <th translate='i18nLastName'></th>
            <th translate='i18nActions' ng-hide='controller.qualifyAll'></th>
            <th translate='i18nGrades' ng-show='controller.qualifyAll'></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide='controller.course.inscription.students.length > 0' class='bg-warning'>
            <td colspan='4' class='text-danger text-center' translate='i18nNoStudentsFound'></td>
          </tr>
          <tr ng-repeat='student in controller.course.inscription.students'>
            <td>{{ student.docket }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td class='actions-container'>
              <a ng-href='{{ controller.getStudentPath(student.docket) }}' ng-hide='controller.qualifyAll' class='btn btn-default' role='button'>
                <span class='fa fa-user' aria-hidden='true'></span>
                <span translate='i18nStudentShow'></span>
              </a>
              <div class='data-item' ng-show='controller.qualifyAll'>
                <input type='number' step="0.1" name='grade{{$index}}' id='grade' class='form-input-field' ng-model='student.grade' min='1' max='10' />
                <div ng-messages="form['grade'+$index].$error" ng-show="form['grade'+$index].$touched || form.$submitted" class='form-errors' role='alert'>
                  <div ng-message='step'>
                    <p translate='i18nOneDecimalOnly'></p>
                  </div>
                  <div ng-message-exp="['min', 'max']">
                    <span translate='i18nGradeInvalidRange'></span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <!-- /Students -->
</div>
