<div ng-controller='CoursesNewCtrl as controller' class='courses-new-container'>
  <!-- Page Heading -->
  <div class='page-header break-words'>
    <h1 class='inline'>
      <span translate='i18nCoursesPanelSection'></span>
    </h1>
    <h2 class='inline'>
      <span> - </span>
      <small translate='i18nAddCourse'></small>
    </h2>
  </div>
  <!-- /Page Heading -->

  <!-- Content -->
  <div class='required-fields'>
    <span translate='i18nRequiredFields'/>
    (<span class='text-danger' translate='i18nRequiredIcon'/>)
  </div>
  <form name='form' novalidate class='data-container'>
    <!-- Course Data -->
    <div class='data-container'>
        <!-- Course ID -->
        <div class='data-item'>
          <label for='courseId'>
            <span translate='i18nCourseId'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='courseId' id='courseId' class='form-input-field' ng-model='controller.course.courseId' required ng-pattern="'^[1-9][0-9]\\.[0-9][0-9]$'"/>
          <div ng-messages='form.courseId.$error' ng-show='form.courseId.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message='pattern'>
              <span translate='i18nInvalidCourseCode'></span>
            </div>
          </div>
        </div>
        <!-- /Course ID -->
        <!-- Course Name -->
        <div class='data-item'>
          <label for='courseName'>
            <span translate='i18nCourseName'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='courseName' id='courseName' class='form-input-field' ng-model='controller.course.name' required ng-minlength='2' ng-maxlength='50'/>
          <div ng-messages='form.courseName.$error' ng-show='form.courseName.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              <span translate='i18nLengthPrefix'></span>
              <span> 2 </span>
              <span translate='i18nLengthAnd'></span>
              <span> 50 </span>
              <span translate='i18nLengthSuffix'></span>
            </div>
          </div>
        </div>
        <!-- /Course Name -->
        <!-- Credits -->
        <div class='data-item'>
          <label for='credits'>
            <span translate='i18nCredits'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='credits' id='credits' class='form-input-field' ng-model='controller.course.credits' required pattern='^([1-9]|1[0-9]|20)$'/>
          <div ng-messages='form.credits.$error' ng-show='form.credits.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message='pattern'>
              <span translate='i18nNumberRangePrefix'></span>
              <span> 1 </span>
              <span translate='i18nNumberRangeAnd'></span>
              <span> 20 </span>
              <span translate='i18nNumberRangeSuffix'></span>
            </div>
          </div>
        </div>
        <!-- /Credits -->
        <!-- Semester -->
        <div class='data-item'>
          <label for='semester'>
            <span translate='i18nSemester'/>
            (<span class='text-danger' translate='i18nRequiredIcon'/>)
          </label>
          <input type='text' name='semester' id='semester' class='form-input-field' ng-model='controller.course.semester' required pattern='^([1-9]|1[0-9]|20)$'/>
          <div ng-messages='form.semester.$error' ng-show='form.semester.$touched || form.$submitted' class='form-errors' role='alert' ng-messages-multiple>
            <div ng-message='required'>
              <p translate='i18nRequiredField'></p>
            </div>
            <div ng-message='pattern'>
              <span translate='i18nNumberRangePrefix'></span>
              <span> 1 </span>
              <span translate='i18nNumberRangeAnd'></span>
              <span> 20 </span>
              <span translate='i18nNumberRangeSuffix'></span>
            </div>
          </div>
        </div>
        <!-- /Semester -->
    </div>
    <!-- /Course Data -->
    <div class='buttons-container'>
      <input type='submit' class='btn btn-action' ng-click='form.$valid && controller.update(controller.course)' value="{{ 'i18nCoursesButtonNew' | translate }}" />
      <input type='button' class='btn btn-default' ng-click='controller.cancel()' value="{{ 'i18nButtonCancel' | translate }}" />
    </div>
  </form>
</div>
