<div ng-controller='HomeCtrl as controller'>
  <div class='row'>
    <div class='col-xs-6'>
      <a class='btn btn-success' ng-click='controller.toggleCourses()'>toggleCourses</a>
      <div ng-show='controller.course'>
        <p>{{ controller.course.courseId }} - {{ controller.course.name }}</p>
        <p>{{ controller.course.credits }}</p>
      </div>
      <div ng-repeat='course in controller.courses'>
        <hr />
        <a ng-show='course' ng-click='controller.toggleCourse(course)' class='btn btn-info'>
        <p>{{ course.courseId }} - {{ course.name }}</p>
      </div>
    </div>
    <div class='col-xs-6'>
      <a class='btn btn-success' ng-click='controller.toggleStudents()'>toggleStudents</a>
      <div ng-show='controller.student'>
        <p>{{ controller.student.docket }} - {{ controller.student.fullName }}</p>
        <p>{{ controller.student.email }}</p>
      </div>
      <div ng-repeat='student in controller.students'>
        <hr />
        <a ng-show='student' ng-click='controller.toggleStudent(student)' class='btn btn-info'>
          {{ student.docket }} - {{ student.fullName }}
        </a>
      </div>
    </div>
  </div>
  <hr />
  Show: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
  <div class="check-element animate-show-hide" ng-show="checked">
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
    <div class='nested'>
      <p>I show up when your checkbox is checked.</p>
    </div>
  </div>

  <div class='jumbotron'>
    <h1>'Allo, 'Allo!</h1>
    <p><a class='btn btn-lg btn-success' ng-href='#'>Splendid!<span class='glyphicon glyphicon-ok'></span></a></p>
  </div>
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>

  <div class='row marketing'>
    <h4>Angular-Require-Fullstack Generator contains</h4>
    <ul>
      <li>AngularJs</li>
      <li>RequireJs</li>
      <li>Bootstrap</li>
      <li>i18n</li>
      <li>Grunt</li>
      <li>File revving</li>
    </ul>
  </div>
</div>
