$navbarHeight: 50px;
$topNavMaxWidth: 300px;
$topNavDropdownMenuMaxWidth: 300px;
$sidebarWidth: 225px;
$sidebarButtonHeight: 50px;
$navbarZIndex: 1;
$sidebarZIndex: 2;
$containerPadding: 30px;
$bootstrapMobileMaxWidth: 768px;
