$navbarHeight: 50px;
$topNavMaxWidth: 300px;
$topNavDropdownMenuMaxWidth: 300px;
$sidebarWidth: 240px;
$sidebarButtonHeight: 50px;
$navbarZIndex: 1001;
$sidebarZIndex: 1002;
$containerPadding: 30px;
$bootstrapMobileMaxWidth: 767px;
